* {
    font-family: Roboto;
}

i.material-icons.small.nav {
    font-size: 40px;
    position: fixed;
    top: 0;
    color: rgb(249, 170, 51);
    color: #344955;
    margin-bottom: 80px;
    /* width: 100%; */
    z-index: 1;
}

/* container grid */
#container {
    margin-top: -32px;
}

/* navbar */
.sidenav-trigger {
    grid-column: 1 / 2;
}

#slide-out {
    background-color: #344955;
    width: 250px;
    grid-column: 1 / 2;
}

#slide-out a {
    color: white;
}

#slide-out a:hover {
    color: #344955;
    background-color: white;
}


/* intro */
#intro {
    grid-column: 2 / -1;
    background-image: linear-gradient(rgba(249, 170, 51, 0.15), rgba(249, 170, 51, 0.15)), url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center bottom;
    height: 700px;
}

#intro h1 {
    color: white;
    font-family: Montserrat;
    font-weight: 200;
    padding-top: 10px;
    text-align: center;
}

#intro h1:nth-child(1){
    padding-top: 45px;
}


/* projects */
#projects h2, #skills h2, #contact h2 {
    font-weight: 300;
    margin-left: 20px;
}

.card-image {
    overflow: hidden;
}

.card-image img {
    transition: 0.3s;
}

.card-image img:hover {
    transform: scale(1.1);
}

.hello {
    cursor: pointer;
}

.card-content i {
    transition: 0.2s;
}

.card-content i:hover {
    transform: scale(1.3);
}


#container {
    padding-left: 250px;
}

/* skills */
#skills {
    /* height: 400px; */
    padding: 30px;
    background-color: rgb(249, 170, 51);
    margin-top: 100px;
}

.skillLogos {
    width: 80px;
    height: 80px;
}

.techName {
    text-align: center;
    margin-top: 25px;
}

/* contact */
#contact {
    padding: 30px;
}

.btn-floating.btn-large i {
    background-color: rgb(249, 170, 51);
}

#contact .card .card-content .row {
    margin: auto;
}



  @media only screen and (max-width : 992px) {
    #container {
      padding-left: 0;
    }
  }